.input-styles{
    @apply px-3 py-1 sm:py-1.5 border-b w-full my-2 transition-transform duration-150 focus:outline-none rounded-[24px]
}
.input-styles:hover{
    @apply transform scale-105
}

.sliding-buttons{
    @apply text-center text-lg w-1/2 bg-white cursor-pointer rounded
}
.scrollbar-thin::-webkit-scrollbar {
    width: 7px; /* Adjust the width as needed */
}

.scrollbar-thumb-black::-webkit-scrollbar-thumb {
    background-color: #026EDD;
    border-radius: 10px;
    /* Change to desired thumb color */
}
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rupeeSymbol {
    position: absolute;
    color: cyan;
    font-size: 16px; /* Adjust font size as needed */
  }